ion-title {
    text-align: center;
    --color: #f3d876;
  }
  
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  ion-card-title{
    --color: #f3d876;
    text-align: center;
  }
  ion-card-content {
    text-align: center;
  }